NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb+srv://kumudevops_db_user:<db_password>@cluster0.z1bggci.mongodb.net/?appName=Cluster0
JWT_SECRET=premier_tour_luxury_secret_key_2026_hostinger
JWT_REFRESH_SECRET=premier_tour_luxury_refresh_secret_key_2026_hostinger
